# JetBrains IDEs
/.idea/*
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/repl-commands.xml
!/.idea/runConfigurations/
*.iml

# MacOS
.DS_Store

# Env
.env*
!.envrc
!.envrc.local.example

# Clojure
.cpcache
.nrepl-port

# shellpack
.github_deps
.https_deps
