{:deps {;; sorted
        pl.rynkowski.clj-gr/bb #:git{:url "https://github.com/rynkowsg/clj-gr.git" :tag "v0.0.12" :sha "05be32e01c53aedac4248ba03bb7703dc030c49a" :deps/root "lib/bb"}
        this/repo {:local/root "."}}

 :tasks
 {:requires (#_:sorted
             [babashka.fs :as fs]
             [clojure.string :as str]
             [pl.rynkowski.clj-gr.bb :refer [print-exec]])
  :init (do (def sosh (fs/path (fs/cwd) "main/src/pl/rynkowski/sosh.cljc")))

  deps (print-exec '(clojure "-M:tool/antq -m antq.core") *command-line-args*)
  deps:upgrade (shell "bb deps --upgrade")

  format:sosh (shell (str sosh " fetch @bin/format.bash"))
  format {:depends [format:sosh]
          :task (shell "@bin/format.bash" (str/join " " *command-line-args*))}

  lint:sosh (do (shell (str sosh " fetch ./test/res/test_suite/4_import_remote/entry.bash"))
                (shell (str sosh " fetch ./test/res/test_suite/5_remote_sourcing_same_repo/repo/entry.bash"))
                (shell (str sosh " fetch @bin/lint.bash")))
  lint {:depends [lint:sosh format:sosh]
        :task (shell "@bin/lint.bash")}

  test {:depends [test:bash test:bb test:clj]}
  test:bash (shell "bats ./test/src/test.bats")
  test:bash-verbose (shell "bats --show-output-of-passing-tests ./test/src/test.bats")

  test:bb {:task (let [test-deps {:deps (-> (slurp "deps.edn") read-string :aliases :test :extra-deps)}]
                   (println test-deps)
                   (shell (format "bb -Sdeps '%s' -m kaocha.runner/-main --config-file tests.edn" test-deps)))}
  test:clj (clojure "-M:test -m kaocha.runner --config-file tests.edn")
  #_:tasks}}
